EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_MARKETPLACE_ID=EBAY_AU
CARD_SCANNER_DB=data/card_scanner.sqlite3
MIN_OPPORTUNITY_SCORE=75
MARKET_CACHE_HOURS=6
MAX_MARKET_QUERIES_PER_RUN=25
EBAY_RESULTS_PER_QUERY=25
